/* Carousel for Companies */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  animation: scroll 20s linear infinite;
}

.carouselItem {
  flex-shrink: 0;
  width: 200px; /* Adjust based on your image size */
  margin-right: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Testimonials - Student and Recruiter */
.testimonialWrapper {
  display: flex;
  overflow: hidden;
}

.testimonialCardWrapper {
  display: flex;
  animation: scrollTestimonials 20s linear infinite; /* Speed of scrolling */
}

.testimonialCard {
  flex-shrink: 0;
  width: 300px; /* Adjust this value based on your card width */
  margin-right: 30px;
}

@keyframes scrollTestimonials {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move to the left by 100% */
  }
}
